*{
  box-sizing: border-box;
  /* border: 1px solid gray; */
}
  
h1 {
  font-family: serif;
  font-size: 2rem;
}
  
h2 {
  margin-top: 0rem;
  margin-bottom: 0rem
}
  
h3 {
  font-style: italic;
  margin-top: 1rem;
}
  
h4 {
  margin-bottom: 0.25rem;
}
  
  
body {
  font-family: serif, sans-serif;
  background-color: white;
  position: relative;
}
  
p {
  max-width: 1024px;
  margin-bottom: 0;
}
  
#cover img{
  max-width:100%;
  height:auto;
}
  
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}
  
code {
  background-color: rgb(208, 232, 242);
  padding: 0.5rem;
  display: block;
  word-break: break-all;
}
  
.info label{
  display: block;
}

#hero h2{
        position: absolute;
        left:2rem;
        
        bottom:5rem;
        font-size: 3rem;
        /* margin-left: 10rem; */
        /* margin-bottom: 10rem; */
        /* padding-bottom: 10rem; */
        }
    
#hero a{
            
            font-size: 1.5rem;
            margin-left: 10rem;
            margin-bottom: 10rem;
            }
    /* hero */
    /* #hero{
    background-image: url("../images/home page image.jpg");
    background-size: cover;
    height: 60vw;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 3rem;
    margin-bottom: 3rem;
    position:relative;
    }*
    
    #hero h2{
    position: absolute;
    font-size: 2rem;
    margin-bottom: 2rem;
    bottom:5rem;
    font-size: 3rem;
    }
    
    #hero a{
    background: white;
    padding:1rem;
    } */
    /* hero end */
    
    /* overview */
    #overview{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    max-width: 80rem;
    justify-content: space-between;
    margin: auto;
    }
    
    #overview img{
    max-width:100%;
    height:auto;
    }
    
    #overview .word{
    background-color: white;
    padding: 1rem;
    margin-bottom: 3rem;
    }
    
    #button a{
    background-color: white;
    padding: 1rem;
    
    }
    
    figure{
    margin:0rem;
    }
    
    /* overview end */
    
    
    nav a:hover, nav a:focus {
    color: rgb(69, 98, 104);
    transition-property: color;
    transition-duration: 0.2s;
    text-decoration: underline;
    }
    
    
    a img:hover{
    color:rgb(208, 232, 242);
    border-width: 0.2rem 0.2rem;
    opacity:0.5;
    }
    
    a:focus img {
    color:rgb(208, 232, 242);
    opacity:0.5;
    }
    
    ul,li{
    word-break: break-all;
    }
    
/* Dropdown Button */
.dropbtn {

    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* padding: 16px;
    font-size: 16px; */
    border: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.95;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover,.dropdown-content a:focus {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content,.dropdown:focus .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  /* reference:https://www.w3schools.com/howto/howto_css_dropdown.asp */
  
   /* navgation */
   #top-nav{
    display:grid;
    align-items: center;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    background-color: white;
    }
    
    #bot-nav{
    display:grid;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    }
    
    .box1{
    text-align: left;
    }
    
    .box2{
    text-align: center;
    }
    
    .box2 a{
    font-size:0.9rem;
    }
    
    .box3 p{
    text-align: right;
    }
    
    h1 {
    text-align:center;
    font-weight: normal;
    }
    
    nav {
    text-align:center;
    }
    
    nav a{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    }
    /* navigation end */
 /* footer */
  
 #footer {
    background-color: black;
    color: white;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 17.5% 17.5% 17.5% 17.5%;
    column-gap: 7%;
    text-align:left;
    font-family: serif;

  }

  #footer a{
    display: block;
    color: white;
    justify-content: left;
    margin:0;
    font-family: serif;
    font-weight: normal;
    
  }

  #footer .bold{
    font-weight: bold;
    margin-bottom: 1vw;
  }

  
  /* footer end*/