* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  text-align: center;
}

a {
  display: block;
}
/*========Input styling=================*/
select {
  height: 45px;
  padding: 0;
  padding-left: 20px;
  width: 150px;
}
.input-wrapper {
  position: relative;
  max-width: 750px;
  margin: auto;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  border: 1px solid silver;
  position: relative;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 500;
  resize: none;
  color: rgb(75, 99, 90);
}

input[type="submit"] {
  padding: 15px 40px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(75, 99, 90);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(75, 99, 90);
}
input[type="submit"]:hover {
  color: rgb(75, 99, 90);
  background-color: white;
}

input:focus,
textarea:focus {
  outline-color: rgb(75, 99, 90);
}

textarea {
  height: 150px;
}

.input-wrapper label {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: -0.6em;
  background-color: white;
  padding: 0 5px;
  color: gray;
}

/*==============images */
img {
  object-fit: cover;
  aspect-ratio : 1 / 1;
  width: 100%;
}

#thumb-output {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

#thumb-output .img-wrap {
  position: relative;
}

.img-wrap #deleteButton {
  width: 25px;
  height: 25px;
  font-weight: 1000;
  font-size: 25px;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  right: -3px;
  background: white;
  text-align: center;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center ;
}


/* nav bar*/

.nav-list {
	background-color: rgb(0, 0, 0);
	margin: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-items {
	list-style: none;
	margin: 0 15px;
	color: beige;
}

.nav-items a {
	text-decoration: none;
	color: white;
}
.nav-items:first-child {
	margin-right: auto;
	margin-left: 2rem;
}

.nav-btn {
	font-size: 15px;
	background: rgb(165, 117, 210);
	border: none;
	outline: none;
	padding: 10px 15px;
	cursor: pointer;

}

.nav-btn:hover {
	background-color: blueviolet;
	color: beige;
}

.nav-items a:hover {
	color: blueviolet;
}

#footer {
  background-color: black;
  color: white;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

a img:hover{
  opacity: .8;
}


