
:root {
  --black: #222;
  --medium-black: rgb(68,68,68);
  --light-black:#dbd9d2;
  --white: white;
  --theme-color: rgb(68,68,68);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  color: var(--theme-color);
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}

p, strong{
line-height: 30px;
}

footer {
  text-align: center;
}

a {
  display: block;
}
/*========Input styling=================*/
select {
  height: 45px;
  padding: 0;
  padding-left: 20px;
  width: 150px;
}
.input-wrapper {
  position: relative;
  max-width: 750px;
  margin: auto;
}

fieldset{
  border: 1px solid silver;
}
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
  border: 1px solid silver;
  position: relative;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 500;
  resize: none;
  color: var(--theme-color);
}

input[type="submit"] {
  padding: 15px 40px;
  width: 100%;
  font-size: 20px;
  background-color: var(--light-black);
  color: var(--medium-black);
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
input[type="submit"]:hover {
  color: var(--white);
  background-color: var(--theme-color);
}

input:focus,
textarea:focus {
  outline-color: var(--theme-color);
}

textarea {
  height: 150px;
}

.input-wrapper label {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: -0.6em;
  background-color: white;
  padding: 0 5px;
  color: gray;
}

/*==============images */
img {
  object-fit: cover;
  aspect-ratio : 1 / 1;
  width: 100%;
}

#thumb-output {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

#thumb-output .img-wrap {
  position: relative;
}

.img-wrap #deleteButton {
  width: 25px;
  height: 25px;
  font-weight: 1000;
  font-size: 25px;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  right: -3px;
  background: var(--white);
  text-align: center;
  color: var(--medium-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center ;
}


/* nav bar*/

.nav-list {
	background-color: var(--white);
	margin: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-bottom: 20px;
}

.nav-items {
	list-style: none;
	margin: 0 15px;
	color: var(--white);
}

.nav-items a {
	text-decoration: none;
	color: var(--black);
  font-size: 18px;
  font-weight: 700;
  opacity: .8;
  transition: .4s;
}
.nav-items:first-child {
	margin-right: auto;
	margin-left: 2rem;
}

.nav-btn {
	font-size: 15px;
	background: var(--light-black);
	border: none;
	outline: none;
	padding: 15px 20px;
	cursor: pointer;
  font-weight: 600;
  color: var(--medium-black);


}

.nav-btn:hover {
	background-color: var(--theme-color);
	color: var(--white);
  transition: .4s;
}

.nav-items a:hover {
	color: var(--theme-color);
  transition: .4s;
  letter-spacing: 5px;
  opacity: 1;
}

#footer {
  background-color: var(--medium-black);;
  color: var(--white);
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

a img:hover{
  opacity: .8;
}

.plus{
  font-size: 30px;
  border: 3px solid var(--black);
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus:hover{
  transform: rotate(90deg);
  letter-spacing: 0;
}
/* error message*/
.errorMssg, .checkErrMssg{
  background-color: lightpink;
  color: darkred;
  margin-bottom: 20px;
  padding: 0px 10px;
}
